In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
import statsmodels.api as sm

%matplotlib inline

In [3]:
data = pd.read_csv('salaries.csv')

In [7]:
data

    YearsExperience  Salary
0                 0   57239
1                 1   61267
2                 2   68200
3                 3   75020
4                 4   82522
5                 5   94900
6                 6  104390
7                 7  114829
8                 8  126311
9                 9  138942
10               10  159783
11               11  175761
12               12  193337
13               13  212670
14               14  233937
15               15  269027

In [4]:
model = smf.ols('Salary~YearsExperience', data = data).fit()

In [5]:
newdata = pd.Series([5])

In [6]:
data_pred = pd.DataFrame(newdata, columns = ['YearsExperience'])

In [7]:
v = int(data_pred.values[0][0])

In [8]:
true_value = int(data.iloc[int(data_pred.values[0][0])][1])

C:\Users\shoai\AppData\Local\Temp\ipykernel_2728\2263827219.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  true_value = int(data.iloc[int(data_pred.values[0][0])][1])

In [9]:
predicted_value = int(model.predict(data_pred).values[0])

In [10]:
predicted_value

101803

In [11]:
from joblib import dump

In [12]:
dump(model, 'windowmodels_1.joblib')

['windowmodels_1.joblib']

In [13]:
from joblib import load
modellin = load('windowmodels_1.joblib')

In [14]:
int(modellin.predict(data_pred).values[0])

101803